
#hello {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: -1;
}
.hero {
    position: relative;
    margin-right: 40%;
    color: var(--textD);
}
.theactualhello {
    font-family: var(--display);
    font-size: 6em;
    font-weight: 800;
}
.dialogue {
    font-family: var(--content);
    font-size: 2em;
}
.uh {
    font-family: var(--contentsecondary);
}
.hellovideo {
    position: absolute;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center
}
.videobanner {
    position: relative;
    width: 100%;
}
#fader {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(24, 24, 24, 0) 60%, var(--baseD));
}
@media screen and (max-width: 740px)  {
    #hello, #fader {
        display: none;
    }
}
.mainbox {
    background: var(--baseD);
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
    transition: background 1s cubic-bezier(.03,.77,.34,1);
}
@media screen and (max-width: 800px)  {
    .mainbox {
        padding: 3rem;
    }
}
@media screen and (max-width: 580px)  {
    .mainbox {
        padding: 0rem;
    }
}
.cardgrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    max-width: 80%;
}
.cards {
    position: relative;
    color: var(--textD);
    max-width: 100%;
    background: var(--basesecondaryD);
    border-radius: 20px;
    word-wrap: break-word;
    overflow: hidden;
    transition: all 1s cubic-bezier(.03,.77,.34,1);
}
.gimgs {
    cursor: pointer;
}
.longcard {
    grid-row: span 2 / auto;
}
.bigcard {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}
.widecard {
    grid-row: span 1 / auto;
    grid-column: span 3 / auto;
}
.shortcard {
    grid-row: span .5 /auto;
    grid-column: span 1 / auto;
}
@media screen and (max-width:1390px) {
    .longcard {
        grid-row: span 1 / auto;
    }
    .bigcard {
        grid-row: span 1 / auto;
        grid-column: span 1 / auto;
    }
    .widecard {
        grid-row: span 1 / auto;
        grid-column: span 1 / auto;
    }
    .shortcard {
        grid-row: span .5 /auto;
        grid-column: span 1 / auto;
    }
}
/*textcard--------------------------------*/
.textcard {
    padding: 1rem;
    font-family: var(--content);
    font-size: 2em;
}
.shorttext {
    font-size: 3em;
    font-family: var(--display);
    font-weight: 500;
}
.supershorttext {
    font-size: 3.6em;
    font-family: var(--display);
    font-weight: 500;
}
.hypershorttext {
    font-size: 7em;
    font-family: var(--display);
    font-weight: 900;
}
.longtext {
    font-size: 1.2em;
    font-family: var(--contentsecondary);
}
.subquote {
    font-family: var(--contentsecondary);
    font-size: 1rem;
    font-style: italic;
    color: var(--textsecondaryD);
}
.quotation {
    font-family: var(--contentsecondary);
    font-size: 1rem;
    font-style: italic;
    margin-top: 1em;
    color: var(--textsecondaryD);
}
/*textcard--------------------------------*/
/*backgroundtext--------------------------*/
.textcontainer {
    position: relative;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--black));
}
.imgtext {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-family: var(--content);
    color: var(--textD);
}
/*backgroundtext--------------------------*/
/*thumbnailcard---------------------------*/
.thumbnailcard {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.thumbnail {
    width: 100%;
    height: 100%;
    background: var(--thumbimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.thumb1 {
    --thumbimg: url('https://cdn.discordapp.com/attachments/816710967936942090/823230607466561576/msedge_OtqNfmiE6e.png')
}
.thumbnailtext {
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--textD);
    font-family: var(--content);
}
.buttonalign {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/*thumbnailcard---------------------------*/
/*imgcard---------------------------------*/
.imgcard:nth-child(1) {
    --thumbimg: url('https://cdn.discordapp.com/attachments/816710967936942090/823230607466561576/msedge_OtqNfmiE6e.png')
}
/*imgcard---------------------------------*/
/*customs---------------------------------*/
.variable {
    font-weight: 700;
    transition: all 1s cubic-bezier(.03,.77,.34,1);
}
.variable:hover {
    font-weight: 800;
}
.daImgs {
    cursor: pointer;
    pointer-events: all !important;
}